<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} (%X{mdcTraceId}) [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <!-- Rolling File Appender -->
    <RollingFile name="RollingFile" fileName="/home/cloudera/sfrm/logs/sfrm.log" filePattern="/home/cloudera/sfrm/logs/sfrm-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} (%X{mdcTraceId}) [%t] %-5level %logger{36} - %msg%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 KB" />
      </Policies>
      <DefaultRolloverStrategy max="10" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- Log everything in custom package -->
    <Logger name="com.sfrm.hive.poc" level="debug" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Logger>
    <!-- Log everything in Spring Boot -->
    <Logger name="org.springframework.boot" level="info" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Logger>
    <!-- Log everything in Spring Core -->
    <Logger name="org.springframework.core" level="info" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Logger>
    <Root level="debug">
      <AppenderRef ref="Console" />
      <!-- <AppenderRef ref="RollingFile" /> -->
    </Root>
  </Loggers>
</Configuration>